{% block list_filters %}
<div class="filters-list">
    <form action="{{ path("DocumentManager_BackendBundle_Document_filters") }}" method="post" {{ form_enctype(form) }} role="form">
        <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
        <fieldset class="form-group form_block form_fieldset_NONE">
            {{ form_errors(form) }}
                            				<div class="row form-group">
					<div class="col-xs-8">
					{{ form_label(form['name'], 'Name'|trans({}, 'Admin')) }}
					{{ form_widget(form['name'], {'attr':{'class': 'form-control input-sm'}}) }}
                    {{ form_errors(form['name'], {'attr': {'class': 'form-control-feedback'}}) }}
					</div>
				</div>
                                            				<div class="row form-group">
					<div class="col-xs-8">
					{{ form_label(form['created'], 'Created'|trans({}, 'Admin')) }}
					{{ form_widget(form['created'], {'attr':{'class': 'form-control input-sm'}}) }}
                    {{ form_errors(form['created'], {'attr': {'class': 'form-control-feedback'}}) }}
					</div>
				</div>
                                            				<div class="row form-group">
					<div class="col-xs-8">
					{{ form_label(form['owner'], 'Owner'|trans({}, 'Admin')) }}
					{{ form_widget(form['owner'], {'attr':{'class': 'form-control input-sm'}}) }}
                    {{ form_errors(form['owner'], {'attr': {'class': 'form-control-feedback'}}) }}
					</div>
				</div>
                                        {{ form_rest(form) }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search glyphicon glyphicon-white"></i> {% trans from "Admingenerator" %}list.button.filter{% endtrans %}</button>
            <button type="submit" class="btn btn-sm btn-default" name="reset" value="true"><i class="glyphicon glyphicon-refresh"></i> {% trans from "Admingenerator" %}list.button.reset{% endtrans %}</button>
        </div>
    </form>
</div>
<script>
    $(function() {
        $( "#filters_document_created" ).datetimepicker({
            format: "Y-m-d H:i:s",
            timepicker: true,
            datepicker: true
        });
    });
</script>
{% endblock list_filters %}


