
{% block list_row %}
<tr class="list_trow">{% block list_row_content %}
                      <td class="td_string td_name">
              {% block list_td_column_name %}{{ Document.name }}{% endblock list_td_column_name %}
          </td>
                      <td class="td_datetime td_created">
              {% block list_td_column_created %}{% if Document.created %}
                    {% set datetime_format = "Y-m-d H:i:s" %}
        
        {{ Document.created|date(datetime_format) }}
    {% endif %}{% endblock list_td_column_created %}
          </td>
                      <td class="td_entity td_type">
              {% block list_td_column_type %}{{ Document.type }}{% endblock list_td_column_type %}
          </td>
                      <td class="td_entity td_owner">
              {% block list_td_column_owner %}{{ Document.owner }}{% endblock list_td_column_owner %}
          </td>
                      <td class="td_string td_documentFile">
              {% block list_td_column_documentFile %}{{ Document.documentFile }}{% endblock list_td_column_documentFile %}
          </td>
        {% endblock list_row_content %}
    {% block object_actions %}
                                <td class="object_actions">
                            <div class="btn-group">
                                    {% block object_action_edit %}
                            
                                        
    {% spaceless %}
    <a  class="btn btn-default btn-xs " href="{{ path("DocumentManager_BackendBundle_Document_edit", { pk: Document.id }) }}"
        data-original-title="{% trans from "Admingenerator" %}action.object.edit.label{% endtrans %}"
                rel="tooltip"
        ><i class="glyphicon glyphicon-edit"></i></a>
    {% endspaceless %}
    
                                                {% endblock object_action_edit %}
                                    {% block object_action_delete %}
                            
                                        
    {% spaceless %}
    <a  class="btn btn-default btn-xs " href="{{ path("DocumentManager_BackendBundle_Document_object", { pk: Document.id, action: 'delete' }) }}"
        data-original-title="{% trans from "Admingenerator" %}action.object.delete.label{% endtrans %}"
                rel="tooltip"
         data-confirm="{% trans from "Admingenerator" %}action.object.delete.confirm{% endtrans %}"  data-csrf-token="{{ path("DocumentManager_BackendBundle_Document_object", { pk: Document.id, action: 'delete' })|csrf_token }}" ><i class="glyphicon glyphicon-remove"></i></a>
    {% endspaceless %}
    
                                                {% endblock object_action_delete %}
                                     {% block object_action_show %}
                            
                                        
    {% spaceless %}
    <a  class="btn btn-default btn-xs " href="{{ path("DocumentManager_BackendBundle_Document_show", { pk: Document.id }) }}"
        data-original-title="{% trans from "Admingenerator" %}action.object.show.label{% endtrans %}"
                rel="tooltip"
        ><i class="glyphicon glyphicon-eye-open"></i></a>
    {% endspaceless %}
    
                                                {% endblock object_action_show %}
{% block object_action_download %}
                            
                                        
    {% spaceless %}
    <a  class="btn btn-default btn-xs " href="{{ path("download_route", {filename: Document.documentFile }) }}"
        data-original-title="{% trans from "Admin" %}Download{% endtrans %}"
                rel="tooltip"
        ><i class="glyphicon glyphicon-download-alt"></i></a>
    {% endspaceless %}
    
                                                {% endblock object_action_download %}                                    
                                    {% block object_action_users %}
                            
                                        
    {% spaceless %}
    <a  class="btn btn-default btn-xs " href="{{ path("DocumentManager_BackendBundle_Document_user_list", { 'pk': Document.id, action: 'users' }) }}"
        data-original-title="{% trans from "Admin" %}Users{% endtrans %}" title="{% trans from "Admin" %}Add Users{% endtrans %}"
                rel="tooltip"
        ><i class="glyphicon glyphicon-user"></i></a>
    {% endspaceless %}
    
                                                {% endblock object_action_users %}
                                {% block object_actions_customActions %}{% endblock object_actions_customActions %}
                </div>
                        </td>
                    {% endblock object_actions %}

</tr>
{% endblock list_row %}