<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% block stylesheets %}
            <!-- bootstrap 3.0.2 -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- font Awesome -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- Ionicons -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- Morris chart -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/morris/morris.css')}}" rel="stylesheet" type="text/css" />
            <!-- jvectormap -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/jvectormap/jquery-jvectormap-1.2.2.css')}}" rel="stylesheet" type="text/css" />
            <!-- fullCalendar -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/fullcalendar/fullcalendar.css')}}" rel="stylesheet" type="text/css" />
            <!-- Daterange picker -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/daterangepicker/daterangepicker-bs3.css')}}" rel="stylesheet" type="text/css" />
            <!-- bootstrap wysihtml5 - text editor -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}" rel="stylesheet" type="text/css" />
            <!-- Theme style -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/AdminLTE.css')}}" rel="stylesheet" type="text/css" />
            <!-- JQuery Ui -->
            <link href="{{ asset('bundles/documentmanagerbackend/css/jquery-ui.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/documentmanagerbackend/css/jquery.datetimepicker.css')}}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('bundles/documentmanagerbackend/js/jquery.js')}}" type="text/javascript"></script>
        <script src="{{ asset('bundles/documentmanagerbackend/js/jquery-ui.js')}}" type="text/javascript"></script>
        <script src="{{ asset('bundles/documentmanagerbackend/js/jquery.datetimepicker.js')}}" type="text/javascript"></script>
    </head>
    <body class="skin-blue">
      
            {% include "::header.html.twig" %}
            
            <div class="wrapper row-offcanvas row-offcanvas-left">
                
                {% include "::navbar.html.twig" %}

                <aside class="right-side">
                    <section class="content" style ="padding-left: 50px">
                {% block content %}

                {% endblock %}
                    </section>
                </aside>
            </div>

        {% block javascripts %}
            <!-- jQuery 2.0.2 -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
            <!-- jQuery UI 1.10.3 -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/jquery-ui-1.10.3.min.js')}}" type="text/javascript"></script>
            <!-- Bootstrap -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/bootstrap.min.js')}}" type="text/javascript"></script>
            <!-- Morris.js charts -->
            <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/morris/morris.min.js')}}" type="text/javascript"></script>
            <!-- Sparkline -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/sparkline/jquery.sparkline.min.js')}}" type="text/javascript"></script>
            <!-- jvectormap -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}" type="text/javascript"></script>
            <!-- fullCalendar -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/fullcalendar/fullcalendar.min.js')}}" type="text/javascript"></script>
            <!-- jQuery Knob Chart -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/jqueryKnob/jquery.knob.js')}}" type="text/javascript"></script>
            <!-- daterangepicker -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/daterangepicker/daterangepicker.js')}}" type="text/javascript"></script>
            <!-- Bootstrap WYSIHTML5 -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}" type="text/javascript"></script>
            <!-- iCheck -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/plugins/iCheck/icheck.min.js')}}" type="text/javascript"></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/AdminLTE/app.js')}}" type="text/javascript"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/AdminLTE/dashboard.js')}}" type="text/javascript"></script>     
            <!-- AdminLTE for demo purposes -->
            <script src="{{ asset('bundles/documentmanagerbackend/js/AdminLTE/demo.js')}}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>