<!-- header logo: style can be found in header.less -->
<header class="header">
    <a href="{{ path('document_manager_backend_homepage') }}" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        Document Manager
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
    </nav>
</header>