<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">       
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="{{ path('document_manager_backend_homepage') }}">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{{ path('DocumentManager_BackendBundle_User_list') }}">
                     <i class="fa fa-users"></i> <span>Users</span>
                </a>
            </li>
            <li>
                <a href="{{ path('DocumentManager_BackendBundle_Type_list') }}">
                    <i class="fa fa-lock"></i> <span>Document Types</span>
                </a>
            </li>
            <li>
                <a href="{{ path('DocumentManager_BackendBundle_Document_list') }}">
                    <i class="fa fa-file-text"></i>  <span>Document</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>