{% block list_filters %}
<div class="filters-list">
    <form action="{{ path("DocumentManager_BackendBundle_Document_user_filters", {'pk': app.request.get('pk')}) }}"
          method="post" {{ form_enctype(form) }} role="form">
        <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
        <fieldset class="form-group form_block form_fieldset_NONE">
            {{ form_errors(form) }}
                            				<div class="row form-group">
					<div class="col-xs-8">
					{{ form_label(form['user'], 'User'|trans({}, 'Admin')) }}
					{{ form_widget(form['user'], {'attr':{'class': 'form-control input-sm'}}) }}
                    {{ form_errors(form['user'], {'attr': {'class': 'form-control-feedback'}}) }}
					</div>
				</div>
                                        {{ form_rest(form) }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search glyphicon glyphicon-white"></i> {% trans from "Admingenerator" %}list.button.filter{% endtrans %}</button>
            <button type="submit" class="btn btn-sm btn-default" name="reset" value="true"><i class="glyphicon glyphicon-refresh"></i> {% trans from "Admingenerator" %}list.button.reset{% endtrans %}</button>
        </div>
    </form>
</div>
{% endblock list_filters %}