
{% extends "AdmingeneratorGeneratorBundle::base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
    {% endblock stylesheets %}

{% block javascripts %}    {{ parent() }}
    {% endblock javascripts %}    {% block title %}
        {{ parent() }} - {% trans from "Admin" %}List of Users{% endtrans %}
    {% endblock title %}
{% block body %}    {% block page_title %}
        <header>
            <h1>{% trans with {'%document%': document.name,} from "Admin" %}List of Users for Document '%document%'{% endtrans %}</h1>
        </header>
    {% endblock page_title %}
<!-- <div class="container-fluid"> -->
	    <div class="row">
	        <div class=" col-md-9 ">{% block list_scopes %}
{% endblock list_scopes %}
{% include "DocumentManagerBackendBundle:Document_userList:results.html.twig" with {  } %}
	        </div>
    
	        {% block filters %}
	            	            <div class="col-md-3">
	                {% include "DocumentManagerBackendBundle:Document_userList:filters.html.twig" with {  } %}
	            </div>
	            	        {% endblock filters %}

		</div>
	<!-- </div> -->
{% endblock body %}