
{% block list_row %}
<tr class="list_trow">{% block list_row_content %}
                      <td class="td_entity td_user">
              {% block list_td_column_user %}{{ DocumentUser.user }}{% endblock list_td_column_user %}
          </td>
        {% endblock list_row_content %}
    {% block object_actions %}
                                <td class="object_actions">
                            <div class="btn-group">
                                    {% block object_action_edit %}
                            
                                        
    {% spaceless %}
    <a  class="btn btn-default btn-xs " href="{{ path("DocumentManager_BackendBundle_Document_user_edit", { 'pk': DocumentUser.id, 'document_id': app.request.get('pk') }) }}"
        data-original-title="{% trans from "Admingenerator" %}action.object.edit.label{% endtrans %}"
                rel="tooltip"
        ><i class="glyphicon glyphicon-edit"></i></a>
    {% endspaceless %}
    
                                                {% endblock object_action_edit %}
                                    
                                    
    {% block object_action_delete %}
                            
                                        
    {% spaceless %}
    <a  class="btn btn-default btn-xs " href="{{ path("DocumentManager_BackendBundle_Document_user_object", { 'pk': DocumentUser.id, 'document_id': app.request.get('pk'), action: 'delete' }) }}"
        data-original-title="{% trans from "Admingenerator" %}action.object.delete.label{% endtrans %}"
                rel="tooltip"
         data-confirm="{% trans from "Admingenerator" %}action.object.delete.confirm{% endtrans %}"  data-csrf-token="{{ path("DocumentManager_BackendBundle_Document_user_object", { 'pk': DocumentUser.id, 'document_id': app.request.get('pk'), action: 'delete' })|csrf_token }}" ><i class="glyphicon glyphicon-remove"></i></a>
    {% endspaceless %}
    
                                                {% endblock object_action_delete %}
                                    
                                  
                                {% block object_actions_customActions %}{% endblock object_actions_customActions %}
                </div>
                        </td>
                    {% endblock object_actions %}

</tr>
{% endblock list_row %}