{% if users | length > 0 %}
<div class="col-md-3">
    <div class="box">
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">id</th>
                        <th>Username</th>
                    </tr>
                {% for user in users %}
                    <tr>
                        <td>{{user.user.id}}</td>
                        <td>{{user.user}}</td>      
                    </tr>  
                {% endfor%}
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>
{% else %}
    <div class="col-md-3">
        0 users assigned
    </div>
{% endif %}