
{% extends "AdmingeneratorGeneratorBundle::base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
    {% endblock stylesheets %}

{% block javascripts %}    {{ parent() }}
        {% block object_actions_script %}
        {% endblock object_actions_script %}
{% endblock javascripts %}    {% block title %}
        {{ parent() }} - {% trans with {'%object%': Document.name,} from "Admin" %}You're viewing the Document "%object%"{% endtrans %}
    {% endblock title %}
{% block body %}    {% block page_title %}
        <header>
            <h1>{% trans with {'%object%': Document.name,} from "Admin" %}You're viewing the Document "%object%"{% endtrans %}</h1>
        </header>
    {% endblock page_title %}
<div class="container-fluid">
	    <div class="row object-actions-Document">
	        <div class="col-md-12">    {% block object_actions %}
        {% endblock object_actions %}
</div>
	    </div>

	    <div class="row">
	        {% block form_tabs %}
{% endblock form_tabs %}

	                {% block show %}
    {% block object %}
                <fieldset class="form_block form_fieldset_NONE tab-pane">
            
                        <div class="row">
                                                        
                    <div class="col-md-2 text-right">
                    {% block show_column_label_name %}<strong>{{ 'Name'|trans({}, 'Admin') }}</strong>{% endblock show_column_label_name %}
                    </div>

                    <div class="col-md-10">
                        <div class="form-group form_field field_name">
                            <a href="{{ path("download_route", {filename: Document.documentFile }) }}">
                        {% block show_column_name %}{{ Document.name }}{% endblock show_column_name %}
                            </a>
                        </div>
                    </div>
                                                </div>
                        <div class="row">
                                                        
                    <div class="col-md-2 text-right">
                    {% block show_column_label_created %}<strong>{{ 'Created'|trans({}, 'Admin') }}</strong>{% endblock show_column_label_created %}
                    </div>

                    <div class="col-md-10">
                        <div class="form-group form_field field_created">
                        {% block show_column_created %}{% if Document.created %}
                    {% set datetime_format = "Y-m-d H:i:s" %}
        
        {{ Document.created|date(datetime_format) }}
    {% endif %}{% endblock show_column_created %}
                        </div>
                    </div>
                                                </div>
                        <div class="row">
                                                        
                    <div class="col-md-2 text-right">
                    {% block show_column_label_type %}<strong>{{ 'Type'|trans({}, 'Admin') }}</strong>{% endblock show_column_label_type %}
                    </div>

                    <div class="col-md-10">
                        <div class="form-group form_field field_type">
                        {% block show_column_type %}{{ Document.type }}{% endblock show_column_type %}
                        </div>
                    </div>
                                                </div>
                        <div class="row">
                                                        
                    <div class="col-md-2 text-right">
                    {% block show_column_label_owner %}<strong>{{ 'Owner'|trans({}, 'Admin') }}</strong>{% endblock show_column_label_owner %}
                    </div>

                    <div class="col-md-10">
                        <div class="form-group form_field field_owner">
                        {% block show_column_owner %}{{ Document.owner }}{% endblock show_column_owner %}
                        </div>
                    </div>
                                                </div>
                    <div class="row">
                        <div class="col-md-2 text-right">
                        {% block show_column_label_users %}<strong>{{ 'Users'|trans({}, 'Admin') }}</strong>{% endblock show_column_label_users %}
                        </div>
                        {{ render(controller('DocumentManagerBackendBundle:Document/Show:getUsersByDocument', {
                                'document': Document.id
                              
                        })) }}                            
                    </div>
                </fieldset>
        {% endblock object %}

    {% block form_buttons %}
        <div id="show-actions" class="form-group">
            <div class="btn-toolbar" role="toolbar">
                {% block generic_actions %}
                        {% block generic_action_list %}
            
                
                            
            <a class="btn btn-default" href="{{ path("DocumentManager_BackendBundle_Document_list", {}) }}"><i class="glyphicon glyphicon-list-alt"></i> {% trans from "Admingenerator" %}action.generic.list{% endtrans %}
        </a>
    

                
                        {% endblock generic_action_list %}
                    {% block generic_action_new %}
            
                
                            
            <a class="btn btn-primary" href="{{ path("DocumentManager_BackendBundle_Document_new", {}) }}"><i class="glyphicon glyphicon-white glyphicon-plus"></i> {% trans from "Admingenerator" %}action.generic.new{% endtrans %}
        </a>
    

                
                        {% endblock generic_action_new %}
        
        {% block generic_actions_script %}
    <script src="{{ asset("bundles/admingeneratorgenerator/js/admingenerator/generic-actions.js") }}"></script>
    <script type="text/javascript">
        ;(function(window, $, undefined) {
            $("#generic_actions").agen$genericActions({
                actionsSelector: 'a.btn'
            });
        })(this, jQuery);
    </script>
{% endblock generic_actions_script %}

    {% endblock generic_actions %}

            </div>
        </div>
    {% endblock form_buttons %}
{% endblock show %}
	        	    </div>
    </div>
{% endblock body %}