
    {% block form %}
    <form class="admin_form"
        {% if DocumentUser.id %}
            action="{{ path("DocumentManager_BackendBundle_Document_user_update", { 'pk': DocumentUser.id, 'document_id': app.request.get('document_id') }) }}"
        {% else %}
            action="{{ path("DocumentManager_BackendBundle_Document_user_create", {'document_id': app.request.get('document_id')}) }}"
        {% endif %}
        method="post" {{ form_enctype(form) }} role="form">

        {{ form_errors(form) }}
                {% block form_fieldset_NONE %}
    <fieldset class="container-fluid form_block form_fieldset_NONE tab-pane">
        			
                    <div class="row">
                                            <div class="col-md-4 form_field field_entity field_user">
                    {% block form_user %}
                        {{ form_row(form['user']) }}
                    {% endblock form_user %}
                </div>
                                        </div>
            </fieldset>
{% endblock form_fieldset_NONE %}

        
        {{ form_rest(form) }}

        {% block form_buttons %}
        <div id="edit-actions" class="form-group">
            <div class="btn-toolbar" role="toolbar">
                {% block generic_actions %}
                        {% block generic_action_save %}
            
                
                            
            <button type="submit" name="save" class="btn btn-success"><i class="glyphicon glyphicon-ok glyphicon-white"></i> {% trans from "Admingenerator" %}action.generic.save{% endtrans %}
        </button>
    

                
                        {% endblock generic_action_save %}
                    {% block generic_action_list %}
            
                
                            
            <a class="btn btn-default" href="{{ path("DocumentManager_BackendBundle_Document_user_list", {'pk': app.request.get('document_id')}) }}"><i class="glyphicon glyphicon-list-alt"></i> {% trans from "Admingenerator" %}action.generic.list{% endtrans %}
        </a>
    

                
                        {% endblock generic_action_list %}
        
        {% block generic_actions_script %}
    <script src="{{ asset("bundles/admingeneratorgenerator/js/admingenerator/generic-actions.js") }}"></script>
    <script type="text/javascript">
        ;(function(window, $, undefined) {
            $("#generic_actions").agen$genericActions({
                actionsSelector: 'a.btn'
            });
        })(this, jQuery);
    </script>
{% endblock generic_actions_script %}

    {% endblock generic_actions %}

            </div>
        </div>
        {% endblock form_buttons %}
    </form>
    {% endblock form %}