{% extends "::base.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Document Manager</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ejercicio
            </div>
            <div class="panel-body">
                <p>Se desea diseñar e implementar una solución Web para el módulo administración de documentos como parte del gestor de documentos corporativo. </p>
                <p>A continuación se detallan todos los requerimientos funcionales que deberá cumplir este módulo:</p>
                <ul>
                    <li>Listado de documentos: los documentos se deberán presentar en forma de listado con la siguiente estructura:
                        <ul>
                            <li>Nombre del documento</li>
                            <li>Fecha de subida</li>
                            <li>Tipo de documento</li>
                            <li>Owner del documento</li>
                            <li>Documento (Descargable)</li>
                        </ul>
                    </li>
                    <li>Alta de documentos: Para el alta de documentos se presentará un formulariocon los siguientes campos:
                        <ul>
                            <li>File input que permita seleccionar documentos alojados en la máquina del operador.</li>
                            <li>Combo que permita seleccionar el tipo de documento. Los tipos de documentos son: Público, Privado, Draft.</li>
                            <li>Combo que permita seleccionar el owner del documento.</li>
                            <li>Campo que permita ingresar la descripción del documento.</li>
                            <li>Todos los campos son requeridos excepto descripción.</li>
                        </ul>
                    </li>
                    <li>Editar documentos: Ídem alta.</li>
                    <li> Eliminar documentos: Se deberá poder borrar de forma consistente los documentos cargados.</li>
                    <li>Asignación de usuarios: Se deberá poder asignar un grupo de usuarios a cada documento.</li>
                    <li>Detalle del documento: El detalle de cada documento se debe mostrar en un diálogo con los siguientes datos:
                        <ul>
                            <li>Nombre (el nombre debe ser un link que permita hacer download del documento)</li>
                            <li>Fecha de subida</li>
                            <li>Owner</li>
                            <li>Descripción</li>
                            <li>Grupo de usuarios relacionados con el documento</li>
                        </ul>
                    </li>
                    <li>Buscador de documentos: El buscador de documentos filtrará por los siguientes criterios:
                        <ul>
                            <li>Nombre</li>
                            <li>Owner</li>
                            <li>Fecha</li>
                        </ul>
                    </li>
                </ul>
            </div>                   
        </div>
    </div>
</div>        
{% endblock %}