{% extends "::base.html.twig" %}

{% block title %}Admin{% endblock %}
    {% block scripts_head %}
        {% javascripts output='assetic/js/compiled/components.min.js'
            'components/jquery/jquery.js'
            'components/jquery-ui/ui/jquery-ui.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts output='assetic/js/compiled/components/html5shiv.min.js'
            'components/html5shiv/dist/html5shiv.js'
        %}
        <!--[if lt IE 9]>
            <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
        {% endjavascripts %}
       
    {% endblock %}
    {% block icons %}
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/admingeneratorgenerator/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-57-precomposed.png') }}">
    {% endblock %}
     {% block content %}

    <div id="page-wrapper-content">
        {% block flashes %}
            <div id="flashes" class="row">
              {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                  <div class="alert alert-{{ type }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage|raw }}
                  </div>
                {% endfor %}
              {% endfor %}
            </div><!--/.row-fluid -->
        {% endblock %}
        <div class="row">
        {% block body %}
        
        {% endblock %}
        </div>
    </div>
    {% endblock %}
    {% block javascripts %}
        {# javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator.min.js'
            'components/bootstrap/js/bootstrap.js'
            'bundles/admingeneratorgenerator/js/admingenerator/general.js'
        }
      <!--      <script type="text/javascript" src="{{ asset_url }}"></script> -->
        {% endjavascripts #}
    {% endblock %}